<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://www.jboss.org/dtd/hibernate/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration>
   	<session-factory>
   		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
   		<property name="connection.url">jdbc:mysql://localhost:3306/deviaredemo</property>
   		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
   		<property name="connection.user">root</property>
   		<property name="connection.password">sAyYpm4R</property>
   		<property name="show_sql">true</property>
   		<property name="hbm2ddl.auto">update</property>

	<mapping class="com.Entities.Classes"/>
	<mapping class="com.Entities.Subject"/>
	<mapping class="com.Entities.Teacher"/>
	<mapping class="com.Entities.Student"/>
	<mapping class="com.Entities.Subject_Classes"/>

   	</session-factory>
</hibernate-configuration>